/*File Name; style.css
  Author; Sheethal Sebastian
  Website Name; portfolio site
  Description; Styling component
  */

body {
  padding-top: 00px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.jumbotron {
  background:url(../images/jumbimg.jpg) no-repeat;
  color: black;
}

a {
  color: #5eff00;
}
footer {
  background:black;
  
  height: 50pt;
  text-align: left;
  margin-top: 20px;
  padding: 50px;
  overflow: auto;
}

